# dependencies
node_modules/

# next.js build
.next/
out/

# production
/dist/

# env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db
**/.vercel
coverage/
